@font-face {
  	font-family: DINWeb-Cond;
  	src: url("DINWeb-Cond.eot");
  	src: 	url('DINWeb-Cond.eot?#iefix') format('embedded-opentype'),
  			url("DINWeb-Cond.woff") format("woff");
  	font-weight: normal;
    font-style: normal;
}
@font-face {
  	font-family: DINWeb-Cond;
  	src: url("DINWeb-CondBold.eot");
  	src: 	url('DINWeb-CondBold?#iefix') format('embedded-opentype'),
  			url("DINWeb-CondBold.woff") format("woff");
  	font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CCIconsRegular';
    src: url('cc-icons-webfont.eot');
    src: url('cc-icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('cc-icons-webfont.woff') format('woff'),
         url('cc-icons-webfont.ttf') format('truetype'),
         url('cc-icons-webfont.svg#CCIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@import url("fonts/asap.css");


article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #0645ad; color: #fff; text-shadow: none; }
::selection { background: #FF7000; color: #fff; text-shadow: none; }

a { color: #005BCE; text-decoration: none; }
a:visited { color: #005BCE; }
a:hover { text-decoration: underline }
a:focus { outline: thin dotted; }

a:hover, a:active { outline: 0; }


abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 0 0 25px 0; padding: 0 0 0 40px;	list-style-type: square; }
ol { list-style-type: decimal; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

html, body {min-height: 100%;}

body {
	background: #111;
	margin: 0px;
	padding: 20px 0 0 0;
	line-height: 25px;	
	background:#333;
/*	
	background: url(../img/dot_bg_black_25.png) fixed,
 url(../img/bg-body.png) fixed;
background-color: #333; 
*/

background-size: 2px 2px, 1920px 1080px;
background-position: 0 0, center center;
}





.wrapper {
	width:980px;
	margin: 0 auto;
}


/* head section */

#ifnfhead {
	color: #fff;
	text-align:center;
	font-size: 14px;
}

#ifnfhead:before, 
#ifnfhead:after {
	content:".";
	display:block;
	border: 14px solid transparent;
	font-size:0;
	line-height:0;
}

#ifnfhead:before {
	border-bottom-color: rgba(0,0,0,0.7);
	border-left-color: rgba(0,0,0,0.7);
	border-top: none;
}

#ifnfhead:after {
	border-top-color: rgba(0,0,0,0.7);
	border-right-color: rgba(0,0,0,0.7);
	border-bottom: none;
}

#ifnfhead a {
	color: #fff;
	text-decoration: none;
}

#ifnfhead a:hover {
	color: #ff0;
	text-decoration: none;
}


#ifnfhead_inner {
	background: rgba(0,0,0,0.7);
}


#ifnfhead ul {
	margin:0;
	padding:0;
	text-transform:uppercase;
	font-weight:bold;
	width:400px;
	line-height: 1.5em;
}

#ifnfhead li {
	display: inline-block;
	*display:inline;
	*float:left;
	padding: 0 6px 0 0;
}

#ifnfhead li:not(:first-child):before {
	content: ".";
	font-size: 4em;
	margin-right: 6px;
	line-height: 0;
}


#topnav, #logo,#doit {
	display:inline-block;
	margin: -8px 0 -7px 0;
	vertical-align: middle;
}

#logo {
	display: inline-block;
	height:40px;
}

.logo {
	margin: 0 30px;
	height:40px;
	-webkit-animation-name: logo-appear;
    -webkit-animation-iteration-count: once;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: .3s;
}

@-webkit-keyframes logo-appear {
    0% {
        height:0;
		margin-top:20px;
		opacity:0;
    }
    100% {
        height40px;
		margin-top:0px;
		opacity:1;
    }
}



/* headline section */


#headline {
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-family: Asap, Helvetica, Arial, sans-serif;
	font-weight:bold;
	letter-spacing:.2em;
}

.sub {
	margin: 2em 0 -1.4em;
	font-size:1.2em;
	text-shadow: rgba(0,0,0,.7) 0 2px 1px;
}

.subdeco:before,
.subdeco:after
{
	content: "";
	display: inline-block;
	width: 8em;
	height: .3em;
	border-bottom: #fff 2px solid;
	margin: 0 .7em;
	box-shadow: rgba(0,0,0,.3) 0 2px 0;
	margin-bottom: .3em;
}


#headline h1 {
	font-size: 3.6em;
	line-height: 1em;
	margin:.4em 0;
	text-shadow: rgba(0,0,0,.7) 0 0 4px;
	text-shadow: rgb(100, 72, 0) 0 1px 0,rgb(131, 94, 0) 0 2px 0, rgb(162, 116, 0) 0 3px 0,rgb(138, 99, 0) 0 4px 0,rgb(111, 67, 0) 0 5px,rgba(0, 0, 0, 0.5) 0 5px 30px;
	text-shadow: rgba(0, 0, 0, 0.51) 0 3px,rgba(0, 0, 0, 0.5) 0 5px 30px;
}






#maincontent {
	border-left: 14px rgba(0,0,0,.7) solid;
	border-right: 14px rgba(0,0,0,.7) solid;
}

#maincontent_inner {
	background: #fefefe;
	padding:24px 40px;
}





.description {
	font-family: DINWeb-Cond, sans-serif;
	font-size: 18px;
	margin: 15px 0 0;
}

.description > span {
	font-weight: bold;
	height: 20px;
	font-size: 22px;
	padding: 5px;
	width: 40px;
	display: inline-block;
	text-align: center;
	background: #EFEFEF;
	color: #efefef;
}

.description > span.good {
background: #7BB847;
color: #BDDBA3;
}

.description > span.bad {
background: #E13434;
color: #F09999;
}
.description > span.meh {
background: #EDAB70;
color: #F6D5B7;
}

.content {
	background: white;
	color: #222;
	position: relative;
}

.content p {
	margin: 0 0 25px 0;
}
/*
.content > div {
	padding: 0 100px 0 0;
}
*/

h1 {
	font-size: 60px;
	line-height: 75px;
	letter-spacing: -.03em;
	text-align: center;
	margin: 0 0 20px 0;	
}
section h1 {
	padding: 10px 0 0;
}
.content section:first-child > h1:first-child {
	border-top: none;
	padding: 0;
}
h2 { 
	font-size: 32px;
	margin: 10px 0 15px 0; 
}

h3 { 
	font-size: 1.5em;
	text-align: center;
	font-family: Asap;
	font-weight: normal;
}

h4 {}
h5 {}

table#overzicht {
	border-collapse: collapse;
	padding: 0;
	margin: 0;
	width: 916px;
	margin-left: -110px;
	margin-right: -110px;
}
	
	th, td {
		vertical-align: top;
		padding: 0;
		margin: 0;
	}
	
	th {
		border-right: dotted #ccc 1px;
	}
	
	th.party {
		background: ;
		font-family:DINWeb-Cond, sans-serif;
		font-weight: bold;
		vertical-align: middle;
		padding: 8px 0 6px;
		margin:0;
		text-align: center;
		font-size: 22px;
		min-width:71px;
	}
		
		#party th.highlight {			
			background: #f0f0f0;	
		}
	
	td.topic { 
		width: 160px;
		border-top: dotted 1px #ccc;
		font-size: 14px;
		line-height: 15px;
		background: #fff;
	}
	
	td.topic a, tr.summary td.topic a {
		display: block;		
		color: #222;
		/*font-family:DINWeb-Cond, sans-serif;*/
		padding: 6px 10px 6px 0;
		text-align: left;
		overflow: visible;
		border-bottom: none;
		text-indent: 0px;
		text-decoration: none;
	}
	.lt-ie9 td.topic a { padding: 4px 0 6px; }
		
		tr.summary td.topic a {		
			font-size: 26px;
			line-height: 25px;
			padding: 9px 7px 1px;		
		}
		
			td.topic a:hover, tr.summary td.topic a:hover, tr.standpoint:hover td.topic a {			
				color: #000;
				background: #f0f0f0;			
			}
		
	td {
		border-top: dotted 1px #fff;
		border-right: dotted 1px #fff;
		font-weight: bold;		
		font-size: 22px;
		width: 55px;
		background: #efefef;
	}
	
	td a {	
				
		height: 32px;
		text-align: center;
		overflow: hidden;
		display: block;
		padding: 10px 0 0 0;
		color: #fff;
		/*font-family:DINWeb-Cond, sans-serif;*/
		text-decoration: none;
	}
	
	td a:hover {
		color: #fff;
		text-decoration: none;
	} 
	
	td.bad,
	td.bad a {
		background: #E13434;
		color: #F09999;
	}
	.summary td.bad a {
		background: #D90000;
		color: #fff;
	}
		td.bad a:hover, .summary td.bad a:hover{
			background: #D90000;
			color: #fff;
		}
	
	td.good,
	td.good a {
		background: #7BB847;
		color: #BDDBA3;
	}
	.summary td.good a{
		background: #59A618;
		color: #fff;
	}
		td.good a:hover, .summary td.good a:hover{
			background: #59A618;
			color: #fff;
		}
	
	td.meh,
	td.meh a {
		background: #EDAB70;
		color: #F6D5B7;
	}
	.summary td.meh a{
			background: #E9954C;
			color: #fff;
	}
		td.meh a:hover, .summary td.meh a:hover{
			background: #E9954C;
			color: #fff;
		}
	
	tr.summary td {
		border-bottom: 1px dotted #fff;
	}
	
	tr.summary td.topic {
		border-bottom: 1px dotted #ccc;
	}
	
	.summary {
		text-transform: uppercase;
	}
	
nav.sub {
	font-family: DINWeb-Cond, sans-serif;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	line-height: 50px;
	margin: 10px 0 0;
	letter-spacing: -.03em;
}


section aside {
	color: #666;
}

section dl {
	margin: 0 0 15px 0;
}

.content aside {
	background: #F0F0F0;
	padding: 25px;
	color: #444;
	font-size: 14px;
	line-height: 20px;
	margin: -20px 0 0 0;
}

.content aside p {
	margin: 0;
}

section dt,
#overlay dt {
	font-family: DINWeb-Cond, sans-serif;
	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	letter-spacing: -0.03em;
	padding: 0px 0 10px 0;
	border-bottom: dotted 1px #CCC;
	margin: 0 0 15px 0;
	border-top: none;
}

section aside + dt,
#overlay aside + dt {
	padding: 20px 0 10px 0;
	border-top: dotted 1px #CCC;
}


dt .good { color: #59A618; text-transform: uppercase; }
dt .bad { color: #D90000; text-transform: uppercase; }
dt .meh { color: #E9954C; text-transform: uppercase; }

section dd {
	margin: 0 0 15px 0;
}

a.back {
	display: block;
	border-top: 1px dotted #ccc;
	color: #59A618; 
	text-transform: uppercase;
	font-family: DINWeb-Cond, sans-serif;
	font-weight: bold;
	font-size: 26px;
	line-height: 30px;
	padding: 15px 0 10px 30px;
	background: url(../img/icon-back-up.svg) no-repeat 0 18px;	
}
.lt-ie9 a.back {	
	background: url(../img/icon-back-up.png) no-repeat 0 18px;	
}

a.back:hover {
	background-position:  0 -22px
}

#overlay a.back {
	background: url(../img/icon-back-left.svg) no-repeat 0 18px;
}
.lt-ie9 #overlay a.back {
	background: url(../img/icon-back-left.png) no-repeat 0 18px;
}

#overlay a.back:hover {
	background-position:  0 -22px
}
	
footer {
	padding: 20px 50px;
	color: #000;
	background: #fff;
	font-family: DINWeb-Cond, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	overflow: auto;
}

footer > div:first-child {
	float: left;
	width: 226px;
	padding: 0;
	text-align: left;
}

footer > div {
	float: left;
	width: 140px;
	padding: 4px 0 0 0;
	text-align: center;
}

footer a,
footer a:visited {
	color: #000;
}

footer a:hover {
	color: #59A618;
	text-decoration: none;
}

footer a.twitter {
	display: inline-block;
	text-indent: -999em;
	background: url(../img/social-sprites.svg) no-repeat;
	height: 35px;
	width: 35px;
}
.lt-ie9 footer a.twitter {
	display: block;
	float: left;
	background: url(../img/social-sprites.png) no-repeat;
}

footer .bof {
	
}

footer .social {
	margin: 7px 0 0 30px;
}

footer a.twitter:hover {
	background-position: 0px -35px;
}

footer a.facebook {
	display: inline-block;
	text-indent: -999em;
	background: url(../img/social-sprites.svg) no-repeat -40px 0px;
	height: 35px;
	width: 35px;
}
.lt-ie9 footer a.facebook {
	display: block;
	float: left;
	background: url(../img/social-sprites.png) no-repeat -40px 0px;
}

footer a.facebook:hover {
	background-position: -40px -35px;
}

footer a.bof {
	display: inline-block;
	text-indent: -999em;
	background: url(../img/ifnf_logo_rgb.png) no-repeat;
	height: 60px;
	width: 220px;
}
.lt-ie9 footer a.bof {
	display: block;
	background: url(../img/ifnf_logo_rgb.png) no-repeat;
}

footer .license {
	margin: 0 10px 0 0;
}
 

footer .privacy {
	margin: 13px 50px 0 0;
	width: 160px;
}

footer .largetosti {
	width: 100px;
}

footer .largetosti a {
	display: inline-block;
	background: url(../img/logo-largetosti.svg) no-repeat 0px 25px;
	height: 45px;
	width: 100px;
}
.lt-ie9 footer .largetosti a {
	background: url(../img/logo-largetosti.png) no-repeat 0px 25px;
}

footer .largetosti a:hover {
	background-position: -100px 25px;
}
	
.cc {
	font-family: CCIconsRegular;
	font-size: 25px;
	text-transform: none;
	font-weight: normal;
	bottom: -7px;
	line-height: 0; position: relative; vertical-align: baseline;
}
.lt-ie9 .cc {
	line-height: 25px;
	bottom: 0;
}

#overlay {
	display: none;
	padding: 20px 130px;
	width: 720px;
	height: 770px; 
	background: #fff;
	top: 0 !important;
	left: 0 !important;
	overflow: auto;
}

#overlay h1 {
	font-size: 50px;
	line-height: 50px;
	margin: 10px 0 20px 0;
	padding: 0 0 15px 0;
}

#overlay  dd {
	margin: 0 0 15px 0;
}

#overlay .close {
	position: absolute;
	top: 25px;
	right: 35px;
	display: block;
	width: 35px;
	height: 35px;
	background: url(../img/icon-close.svg) no-repeat 10px 8px;
}
.lt-ie9 #overlay .close  {
	background: url(../img/icon-close.png) no-repeat 10px 8px;
}

#overlay .close:hover {
	cursor: pointer;
	background: url(../img/icon-close.svg) no-repeat 10px -22px;	
}
.lt-ie9 #overlay .close:hover {
	background: url(../img/icon-close.png) no-repeat 10px -22px;
}

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }




@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
